{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
    <h1>Genre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Drama</th>
                <td>{{ genre.drama }}</td>
            </tr>
            <tr>
                <th>Comedy</th>
                <td>{{ genre.comedy }}</td>
            </tr>
            <tr>
                <th>Triller</th>
                <td>{{ genre.triller }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ genre.action }}</td>
            </tr>
            <tr>
                <th>Fantastic</th>
                <td>{{ genre.fantastic }}</td>
            </tr>
            <tr>
                <th>Horror</th>
                <td>{{ genre.horror }}</td>
            </tr>
            <tr>
                <th>Romantic</th>
                <td>{{ genre.romantic }}</td>
            </tr>
            <tr>
                <th>Adventure</th>
                <td>{{ genre.adventure }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('genre_index') }}">back to list</a>

    <a href="{{ path('genre_edit', {'id': genre.id}) }}">edit</a>

    {{ include('genre/_delete_form.html.twig') }}
{% endblock %}
