{% extends 'layout.html.twig' %}

{% block title %}Wilde Ciné: {{ genre.name }}{% endblock %}

{% block body %}
    <div class="container-fluid artiste pt-5 pb-5 bg-dark">

    <a href="{{ path('home') }}" class="btn btn-outline-warning badge-pill">Retour</a>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class=""
                     src={{ asset('build/images/Bobine2.png') }}
                     alt="bobine">
            </div>
            <div class="col-lg-8 text-left mt-5 pt-5 pl-5">
                <h1 class="artistIndex">{{ genre.name }}</h1>
                <div class="separator_auto"></div>
                <p class="artistIndex">Films : {{ genre.name }}</p>
            </div>
        </div>

        <div class="row">
            {% for movie in movies %}
                <div class="col-lg-4 mt-5">
                    <div class="cardActeur card" style="width: 18rem;">
                        <a href="{{ path('movie_show', {'id': movie.id},{'picture': movie.picture}) }}">
                            <img class="cardActeur artistImg card-img-top"
                                 src="{{ asset('build/images/' ~movie.picture) }}"
                                 alt="Picture Movies">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}