{% extends 'layout.html.twig' %}

{% block title %}Actors index{% endblock %}

{% block body %}
    <div class="container-fluid artiste pt-5 pb-5 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img class="bobine"
                         src={{ asset('build/images/Bobine2.png') }}
                         alt="bobine">
                </div>
                <div class="col-lg-4 text-left pt-5 pl-5">
                    <h1 class="artistIndex">Acteurs</h1>
                    <div class="separator_auto"></div>
                    <p class="artistIndex">Les acteurs du moment !</p>
                </div>
                <div class="col-lg-4">
                    <img class="bobine"
                         src={{ asset('build/images/Bobine2.png') }}
                         alt="bobine">
                </div>
            </div>

            <div class="row">
                {% for artist in artists %}
                    <div class="col-lg-4 mt-5">
                        <div class="cardActeur card" style="width: 18rem;">
                            <a href="{{ path('artist_show', {'id': artist.id},{'picture': artist.picture}) }}">
                                <img class="cardActeur artistImg card-img-top"
                                     src="{{ asset('build/images/' ~artist.picture) }}"
                                     alt="Picture Artist">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a href="{{ path('home') }}" class="btn btn-outline-warning badge-pill">Retour</a>
    </div>
{% endblock %}