{% extends 'layout.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
    <div class="container-fluid artist backgroundHome">
        <div class="container text-center">
            <h1 class="mb-5 pt-5">Acteur</h1>
            <div class="cardActeur card mt-5 pb-5">
                <div class="row">
                    <div class="col-lg-4 mt-5">
                        <div class="cardActeur card ml-5 mt-5" style="width: 18rem;">
                            <a href="{{ path('artist_show', {'id': artist.id},{'picture': artist.picture}) }}">
                                <img class="cardActeur artistImg card-img-top"
                                     src="{{ asset('build/images/' ~artist.picture) }}"
                                     alt="Picture Artist">
                            </a>
                        </div>
                    </div>
                    <div class="card-body mt-5 pt-5 col-lg-8">
                        <h2 class="card-title">{{ artist.name }} {{ artist.firstName }}</h2>
                        <p class="mt-5 mb-5"><span>Date de naissance:</span> {{ artist.birthDate }}</p>
                        <h3>Biography</h3>
                        <p class="card-text mt-5">{{ artist.biography }}</p>
                        <a href="{{ path('artist_index') }}" class="btn btn-outline-dark badge-pill">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
