{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}
    <div class="container-fluid artist backgroundHome">
        <div class="container text-center">
            <h1 class="mb-5 pt-5">Séries</h1>
            <div class="cardActeur card mt-5 pb-5">
                <div class="row">
                    <div class="col-lg-4 mt-5">
                        <div class="cardActeur card ml-5 mt-5" style="width: 18rem;">
                            <a href="{{ path('serie_show', {'id': serie.id},{'picture': serie.picture}) }}">
                                <img class="cardActeur artistImg card-img-top"
                                     src="{{ asset('build/images/' ~serie.picture) }}"
                                     alt="Picture Serie">
                            </a>
                        </div>
                    </div>
                    <div class="card-body mt-5 pt-5 col-lg-8">
                        <h2 class="card-title">{{ serie.title }}</h2>
                        <p class="mt-5 mb-5"><span>Sortie de la Série: </span> {{ serie.year }}</p>
                        <h3>Synopsis</h3>
                        <p class="card-text mt-5">{{ serie.synopsis }}</p>
                        <a href="{{ path('serie_index') }}" class="btn btn-outline-dark badge-pill">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
